# Игнорировать пользовательские настройки Xcode
*.xcuserstate
xcuserdata/
*.xcuserdatad/

# Игнорировать временные файлы сборки
build/
DerivedData/
*.o
*.dSYM/

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать автоматически сгенерированные файлы
*.swp
*~
*.log